
@use "../abstracts/abstracts" as *;

.experiencia {
    display: flex;
    flex-direction: column;
    border-top: 3px solid $color-grey-light;
    border-bottom: 3px solid $color-grey-light;
    padding: 16px 0 ;
    margin-bottom: 80px;

    article {
        margin: 24px 0;
        
        h2 {
            font-size: 35px;
        }

        h3 {
            color: $color-grey-light;
            font-size: 16px;
        }
    }

}

.contenedor-experiencia {
    
    margin: 0 16px;

}

// para tablet
@include breakpoint(tablet) {
    .experiencia {
        border-bottom: 0;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        //gap: 40px 20px;
        
        article {
            flex: 0 0 50%;
            margin: 50px 0;

            h2 {
                font-size: 45px;
            }

            h3 {
                font-size: 18px;
            }
            

        }

    }

    .contenedor-experiencia {
        margin: 0 30px;
    }
}

//Para PC
@include breakpoint(desktop) {
    .experiencia {
        border-bottom: 0;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        justify-content: space-between;
        gap: 30px 0px;
        
        article {
            flex: 0 0 30%;
            margin: 50px 0;

            h2 {
                font-size: 45px;
            }

            h3 {
                font-size: 18px;
            }
            
        }

    }

    .contenedor-experiencia {
        margin: 0 165px;
    }
}

//Para Pantallas muy grandes
@include breakpoint(largedesktop) {
    .experiencia {
        border-bottom: 0;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        justify-content: space-between;
        gap: 30px 0px;
        
        article {
            flex: 0 0 30%;
            margin: 50px 0;

            h2 {
                font-size: 45px;
            }

            h3 {
                font-size: 18px;
            }
            
        }

    }

    .contenedor-experiencia {
        margin: 0 165px;
    }
}